/* General Styles for screen size <= 300px */
@media screen and (max-width: 300px) {
  html {
    font-size: 48%;
  }
}
/* General Styles for screen size <= 230px */
@media screen and (max-width: 300px) {
  html {
    font-size: 38%;
  }
}
/* General Styles for screen size <= 180px */
@media screen and (max-width: 300px) {
  * {
    word-wrap: break-word;
  }
  html {
    font-size: 25%;
  }
}
/* General Styles for screen size >= 500px */
@media screen and (min-width: 500px) {
  .hero .hero-right .hero-right-grid .img-box:nth-child(2) {
    height: 30rem;
  }
  .hero .hero-right .hero-right-grid .img-box:nth-child(3) {
    height: 21rem;
  }
}
/* General Styles for screen size >= 768px */
@media screen and (min-width: 768px) {
  html {
    font-size: 11px;
  }
  .common-padding-inline {
    padding-inline: 3rem;
  }
  .hero .hero-right .hero-right-grid {
    gap: 2.5rem;
  }
}
/* General Styles for screen size >= 768px */
@media screen and (min-width: 1200px) {
  .common-padding-inline {
    padding-inline: 6rem;
  }
  .common-padding-block {
    padding-block: 5rem;
  }
  .navbar .nav-links {
    display: revert;
    position: initial;
    background-color: initial;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    border: none;
    padding: 0;
  }
  .navbar .nav-links li {
    padding: 0;
    border: none;
    position: relative;
  }
  .navbar .nav-links li:first-child a {
    color: var(--black);
  }
  .navbar .nav-links li a {
    color: var(--secondary-color);
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .navbar .nav-links li a:hover {
    color: #000;
  }
  .navbar .button-toggle-box .toggle-bar {
    display: none;
  }
  .hero {
    flex-direction: row;
    gap: 0;
  }
  .hero .hero-left {
    flex: 1;
  }
  .hero .hero-left .hero-left-text {
    width: 85%;
  }
  .hero .hero-left .hero-left-text h1 {
    font-size: 7rem;
  }
  .hero .hero-right {
    flex: 1;
  }
  .hero .hero-right .hero-right-grid {
    margin-left: auto;
    width: 90%;
    gap: 3.5rem;
    grid-template-areas: ". b" "a b" "a b" "a b" "a c" ". c";
  }
  .hero .hero-right .hero-right-grid .img-box:nth-child(2) {
    height: 35rem;
  }
  .hero .hero-right .hero-right-grid .img-box:nth-child(3) {
    height: 20rem;
  }
  .latest-stories .latest-stories-container {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }
  .latest-stories .latest-stories-container .latest-stories-left {
    flex: 1.5;
  }
  .latest-stories .latest-stories-container .latest-stories-left h3 {
    font-size: 2.4rem;
    margin-top: 0.5em;
  }
  .latest-stories .latest-stories-container .latest-stories-left p {
    font-size: 1.6rem;
    margin-block: 0.7em 0.9em;
  }
  .latest-stories .latest-stories-container .latest-stories-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .latest-stories .latest-stories-container .latest-stories-right .latest-stories-right-box {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
  }
  .latest-stories .latest-stories-container .latest-stories-right .latest-stories-right-box img {
    width: 40%;
    aspect-ratio: 1;
  }
  .latest-stories .latest-stories-container .latest-stories-right .latest-stories-right-box div h4 {
    font-size: 2.4rem;
  }
  .latest-stories .latest-stories-container .latest-stories-right .latest-stories-right-box div p {
    font-size: 1.6rem;
    margin-block: 0.3em 0.5em;
  }
  .latest-stories .latest-stories-container .latest-stories-right .latest-stories-right-box div span {
    color: var(--secondary-color);
    font-size: 1.4rem;
  }
}
/* General Styles for screen size >= 1800px */
@media screen and (min-width: 1800px) {
  html {
    font-size: 68%;
  }
}
/* General Styles for screen size >= 2200px */
@media screen and (min-width: 2200px) {
  html {
    font-size: 78%;
  }
}